<h1 class="text-neutral-300 font-medium tracking-wide mx-6 my-6">
  Recent Chats
</h1>

<!-- For Loop scrollable -->
<section
  #recentChatScrollable
  class="overflow-y-auto pl-6 max-h-[calc(100vh-294px)] transition-color duration-75 ease-in-out"
  [ngClass]="{ 'border-t-[1.5px] border-neutral-800': isScrolled }"
  (scroll)="onScroll(recentChatScrollable)"
>
  @if (recentChats.length === 0) {
    <h2 class="text-white">No Recent Chats</h2>
  } @else {
    @for (chat of recentChats; track $index) {
      <article
        class="flex items-center gap-4 p-2 rounded-xl mb-4 transition-colors duration-250 ease-out hover:bg-neutral-900 cursor-pointer"
      >
        <picture
          class="block basis-[48px] min-w-[48px] max-w-[48px] w-[48px] h-[48px] rounded-full bg-white"
        >
        </picture>

        <section data-name="chat-info" class="flex flex-col">
          <h2 class="text-white">{{ chat.fullName }}</h2>
          <p class="inline-flex items-center text-neutral-400 text-sm">
            <span
              class="inline-block max-w-[32ch] mr-1 overflow-hidden text-ellipsis text-nowrap"
              >{{ chat.messageSnippet }}</span
            >
            <span class="text-[10px]">{{ chat.timeDelivered }}</span>
          </p>
        </section>
      </article>
    }
  }
</section>
